@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal; }

@font-face {
    font-family: "Lato-Bold";
    src: url("./fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal; }

@font-face {
    font-family: "Lato-Light";
    src: url("./fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal; }

@font-face {
    font-family: "Open-Sans";
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal; }

@font-face {
    font-family: "Open-Sans-Bold";
    src: url("./fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal; }

@font-face {
    font-family: "Open-Sans-Black";
    src: url("./fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal; }

@font-face {
    font-family: "Open-Sans-Light";
    src: url("./fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto/Roboto-Regular.woff") format("woff"), url("./fonts/roboto/Roboto-Regular.woff2") format("woff2");
    font-style: normal; }

@font-face {
    font-family: "Roboto-Medium";
    src: url("./fonts/roboto/Roboto-Medium.woff") format("woff"), url("./fonts/roboto/Roboto-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal; }

@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/roboto/Roboto-Bold.woff") format("woff"), url("./fonts/roboto/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal; }

@font-face {
    font-family: "Roboto-Thin";
    src: url("./fonts/roboto/Roboto-Thin.woff") format("woff"), url("./fonts/roboto/Roboto-Thin.woff2") format("woff2");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal; }

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("./fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal; }

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("./fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal; }

@font-face {
    font-family: "Ico";
    src: url("./fonts/icons/icons.woff") format("woff"), url("./fonts/icons/icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#root .App .content {
    padding: 0 20px;
}
#root .App .content .item-preview {
    border-radius: 7px;
    border: 1px solid #d7d7d7;
    padding: 5px 10px;
    margin: 25px 0;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    cursor: pointer;
}
#root .App .content .item-preview:hover {
    box-shadow: none;
}
#root .App .content .item-preview .row:last-of-type {
    padding: 0;
    margin: 0;
}
#root .App .content .item-preview .row #caption {
    font-size: 2em;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}
#root .App .content .item-preview .row #location {
    font-size: 1.3em;
    font-family: "Open-Sans", sans-serif;
}
#root .App .content .item-preview .row #date {
    font-size: 1.1em;
    font-family: "Lato", sans-serif;
}
#root .App .content .item-preview .row #category {
    font-size: 1.4em;
    font-family: "Lato", sans-serif;
}
#root .App .content .item-preview .row #description {
    font-size: 1.1em;
    font-family: "Open-Sans", sans-serif;
    letter-spacing: 1.1px;
    padding: 0 15px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#root .App .content .item {
    margin: 25px 0;
    border-radius: 7px;
    border: 1px solid #d7d7d7;
}
#root .App .content .item .row .description {
    padding: 0 25px;
    margin: 25px 0;
    border-right: 1px solid #c2c2c2;
}
#root .App .content .item .apply {
    padding: 35px 25px;
}
#root .App .content .item .apply .row #apply-date {
    font-size: 1.1em;
    font-family: "Lato", sans-serif;
}
#root .App .content .item .apply .row #apply-caption {
    font-size: 1.8em;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    padding-top: 10px;
}
#root .App .content .item .apply .row #apply-category {
    font-size: 1.4em;
    font-family: "Lato", sans-serif;
    padding-top: 0;
}
#root .App .content .item .apply .row #apply-location {
    font-size: 1.3em;
    font-family: "Open-Sans", sans-serif;
    padding-top: 10px;
}
#root .App .content .item .apply button {
    font-size: 1.3em;
    font-family: "Lato", sans-serif;
    letter-spacing: 1.1px;
}
@media only screen and (max-width: 992px) {
    .parallax-container {
        height: 100%;
    }
    .parallax-container .section {
        position: static !important;
    }
    .parallax-container .parallax img {
        min-height: auto;
        height: auto;
        width: 150%;
    }
}
body::-webkit-scrollbar {
    display: none;
}