body {
  height: 100%;
  .parallax-container {
    .container {
      .row h2 {

      }
    }
  }

  #root .App {

    .slidenav {
      button {
        outline: none;
        border: none;
      }
    }
  }
}