nav ul a,
nav .brand-logo,
nav a {
  color: #444444 !important;
}

#dropdown-lang {
  z-index: 100;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.sidenav .input-field {
  display: block;
  margin: 30px 0 0;
}

.sidenav .input-field .dropdown-trigger {
  margin: 0;
  padding: 0 10px;
}

.sidenav .input-field label {
  top: unset;
  left: 10px;
  bottom: 100%;
}

.sidenav .input-field .dropdown-trigger,
.sidenav .input-field .dropdown-content span {
  color: #444444;
}

.sidenav .input-field .dropdown-trigger {
  border-bottom-color: #444444;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
